> ### Python Class to Compute Dedication Time

>> Dedication time of a learner is the time between login and last activity for that login session, which is the last activity before the next login event for a given learner.  For more information, check these references. 
Moodle estimates time based in the concepts of Session and Session duration applied to Moodle's log entries:

1. Click: every time that a user accesses a page in Moodle a log entry is stored.
2. Session: set of two or more consecutive clicks in which the elapsed time between every pair of consecutive clicks does not overcome an established maximum time.
3. Session duration: elapsed time between the first and the last click of the session.

In [1]:
%load_ext sql

In [2]:
%%sql
postgresql://postgres:postgres@localhost/moodle

In [3]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:postgres@localhost/moodle')
log_df = pd.read_sql('select * from mdl_logstore_standard_log', engine)

In [4]:
# drop all negative values of userid
log_df = log_df[log_df['userid']>=0]
logged_in = log_df[log_df.action == 'loggedin'][['userid', 'action']]
login_by_user = logged_in.groupby('userid').count().sort_values('action', ascending=False)

In [5]:
log_in_out = log_df[(log_df.action == "loggedin") | (log_df.action == "loggedout")]
log_in_out.shape

(4993, 21)

> ### Compute Dedication Time

In [7]:
from tqdm import tqdm
# get unique user
user_id =  log_df.userid.unique()
# use a dictionary to store user and their AVG(dedication time)
d_times = {}

# loop the user list
for user in tqdm(user_id):
#     get a dataframe of each user for all actions performed by the user and sort with time
    log_user = log_df[log_df.userid == user].sort_values('timecreated')
#     initialize dedication time to 0
    d_time = 0 
#     a boolean value to check if loggedin
    isLoggedIn = 0
#     get time at which user performed login
    loggedIn_timecreated = 0
#     loop the user dataframe
    for i in range(len(log_user)): 
#         get each row of user dataframe
        row = log_user.iloc[i,]
#     get the next row of user if the current row is not the last row 
        row_next = log_user.iloc[i+1,] if i+1 < len(log_user) else row
#     if the current row action of user is loggedin
        if(row.action == "loggedin"): 
#         boolean isloggedin is set to 1
            isLoggedIn = 1
#     the time for the loggedin action is stored
            loggedIn_timecreated = row.timecreated
#     if iteration is at the last row of user df or lastrow action is loggedin and there was a loggedin action before
        if( (i+1 == len(log_user)) | ( (row_next.action == "loggedin") & (isLoggedIn == 1) ) ):
#         update dedication time to be 7200 if the difference between last login and firstlogin is more than 7200
            d_time += min(row.timecreated - loggedIn_timecreated, 7200).mean()
#     update boolean to 0
            isLoggedIn = 0
#     store user and their dedication time
    d_times[user] = d_time

100%|██████████████████████████████████████████████████████████████████████████████| 1047/1047 [05:18<00:00,  3.29it/s]

In [14]:
min(5, 8)

5

In [8]:
# a list for all the most important tables
mit = ['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course', 'mdl_modules' , 'mdl_course_modules', 'mdl_course_modules_completion',
       'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 
       'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts']
# select stmt to return the total number of rows
for table in mit:
    counts = %sql SELECT count(*) as {table}_count from {table}
    display(counts)

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(417554,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(4359,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(1052,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(15,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(26,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(290,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(4483,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(113,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(3643,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(16,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(486,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(7108,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(46,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(34,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(23,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(131,)]

In [12]:
log_df['dedicationtime'] = log_df['userid'].map(d_times)

In [13]:
log_df[['userid', 'dedicationtime']].sample(10)

        userid  dedicationtime
349169     228          125465
361994     941           23508
141207      95          149405
252202      98          111634
226997     246          524206
322335      77           34114
279693     777            7500
65572       99           86617
220115      42           72010
58723      140           22946

In [15]:
def top_x(df, percent):
    """Calculate the Percentile for each user
        Takes dataframe and the percentile you wish to calculate
        returns: a dataframe with user id that belong to that percentile and their action count
    """
    
    tot_len = df.shape[0]
    top = int((tot_len * percent)/100)
    return df.iloc[:top,]

**Rank User by login counts to 1%, 25% etc**

In [16]:
login_by_user.columns = ['login_count']
top_x(login_by_user, 1)

        login_count
userid
2               169
246             113
3               107
369             100
165              91
290              73

**Compute Activity Count**

In [17]:
activity_log_df = log_df[['userid', 'action']]
activity_log_by_user = pd.DataFrame(activity_log_df.groupby('userid').count().sort_values('action', ascending=False))

**Rank by Activity count**

In [18]:
activity_log_by_user.columns = ['activity_count']
top_x(activity_log_by_user, 1)

        activity_count
userid
2                45023
246              13917
3                12922
917              10696
581              10533
290               8558
347               7320
0                 7257
607               6461
344               6019

In [21]:
dedication_time_df = pd.DataFrame( {'userid':list(d_times.keys()), 
                                    'dedication_time':list(d_times.values())})
dedication_time_df

      userid  dedication_time
0          2           912920
1          0             7500
2          5           170321
3          8            15000
4          3           511412
...      ...              ...
1042    1052             7500
1043    1051             7500
1044    1049             7500
1045       1               20
1046       4             7500

[1047 rows x 2 columns]

In [22]:
top_x(dedication_time_df, 1)

   userid  dedication_time
0       2           912920
1       0             7500
2       5           170321
3       8            15000
4       3           511412
5       9            54651
6      20            15000
7      25           190114
8      16            32004
9      32            22700

In [23]:
user_count = pd.DataFrame(log_df.groupby(['userid'])['action'].count().reset_index(name='action_count'))

cell info lite --> https://play.google.com/store/apps/details?id=com.wilysis.cellinfolite&hl=en