In [1]:
%load_ext sql

In [2]:
import psycopg2 as ps
from sqlalchemy impornumbet create_engine

In [3]:
%%sql
postgresql://postgres:postgres@localhost/moodle

In [4]:
engine = create_engine('postgresql://postgres:postgres@localhost/moodle')

> ### SQL script to count the number of tables

In [6]:
%%sql
SELECT COUNT(*)
FROM INFORMATION_SCHEMA.TABLES
WHERE table_schema = 'public'

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(448,)]

> ### SQL script to count the number of records in each of the tables given in the MIT section

In [117]:
mit = ['mdl_logstore_standard_log', 'mdl_context', 'mdl_user', 'mdl_course', 'mdl_modules' , 'mdl_course_modules', 'mdl_course_modules_completion',
       'mdl_grade_items', 'mdl_grade_grades', 'mdl_grade_categories', 'mdl_grade_items_history', 'mdl_grade_grades_history', 
       'mdl_grade_categories_history', 'mdl_forum', 'mdl_forum_discussions', 'mdl_forum_posts']

# fetches and returns number of records of a given table in moodle database
def table_count(table):
    count = %sql select count(*) as {table}_count from {table}
    return count

for table in mit:
    display(table_count(table))

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(417554,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(4359,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(1052,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(15,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(26,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(290,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(4483,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(113,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(3643,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(16,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(486,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(7108,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(46,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(34,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(23,)]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(131,)]

> ### SQL Script to count Number of quiz submissions by hour of day

In [116]:
%%sql 
select count(id) as submission_count, EXTRACT(HOUR FROM to_timestamp(timecreated)) as hour
    from mdl_logstore_standard_log 
        where action='submitted' AND component like '%_quiz%' 
            group by hour;

 * postgresql://postgres:***@localhost/moodle
24 rows affected.

[(29, 0.0),
 (7, 1.0),
 (14, 2.0),
 (10, 3.0),
 (18, 4.0),
 (17, 5.0),
 (34, 6.0),
 (46, 7.0),
 (69, 8.0),
 (95, 9.0),
 (88, 10.0),
 (104, 11.0),
 (90, 12.0),
 (80, 13.0),
 (68, 14.0),
 (68, 15.0),
 (70, 16.0),
 (57, 17.0),
 (55, 18.0),
 (46, 19.0),
 (53, 20.0),
 (26, 21.0),
 (23, 22.0),
 (30, 23.0)]

> ### Monthly usage time of learners who have confirmed and are not deleted

In [115]:
%%sql

SELECT SUM(EXTRACT (HOUR FROM to_timestamp(lastaccess - firstaccess))) AS usagetime, 
    EXTRACT (MONTH FROM to_timestamp(firstaccess)) AS month 
        FROM mdl_user 
            WHERE confirmed = 1 AND deleted = 0 
                GROUP BY EXTRACT (MONTH FROM to_timestamp(firstaccess))

 * postgresql://postgres:***@localhost/moodle
7 rows affected.

[(513.0, 3.0),
 (171.0, 7.0),
 (27.0, 1.0),
 (2290.0, 2.0),
 (204.0, 6.0),
 (925.0, 4.0),
 (638.0, 5.0)]

> ### Count of log events per user for the following verbs: 'loggedin', 'viewed', 'started', ,'submitted', 'uploaded', 'updated', 'searched', 'resumed', 'answered', 'attempted', 'abandoned'

In [118]:
actions = ['loggedin', 'viewed', 'started', 'submitted', 'uploaded', 'updated', 'searched', 'resumed',
           'answered', 'attempted', 'abandoned']

# fetch and return count of log events of a give action per user
def event_counts(action):
    count = %sql SELECT userid, COUNT(action) AS {action}_count FROM mdl_logstore_standard_log WHERE action='{action}' GROUP BY userid limit 5
    return count

for action in actions:
    display(event_counts(action))

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(1, 1), (2, 169), (3, 107), (5, 54), (7, 3)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(0, 5305), (1, 2), (2, 2492), (3, 4041), (5, 694)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(2, 14), (3, 17), (5, 11), (7, 2), (8, 1)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(2, 21), (3, 2), (5, 5), (9, 8), (16, 1)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(2, 21), (3, 6), (5, 1), (42, 1), (44, 1)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(0, 649), (2, 2551), (3, 1467), (5, 19), (7, 1)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(84, 2), (246, 1), (253, 1), (266, 2), (294, 1)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(3, 4), (5, 2), (9, 1), (25, 10), (39, 4)]

 * postgresql://postgres:***@localhost/moodle
5 rows affected.

[(5, 2), (9, 4), (25, 6), (38, 1), (39, 1)]

 * postgresql://postgres:***@localhost/moodle
0 rows affected.

[]

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(2, 5)]

Write a python class to pull 

Overall grade of learners for 

Number of forum posts

In [119]:
class DBHandler():
    def __init__(self):
        pass
    def open_local_db(self,**kwargs):
        #
        user = kwargs.get('user','postgres')
        password = kwargs.get('password', 'postgres')
        db = kwargs.get('db','moodle')
        #
        try:
            params = dict(user=user,
                          password=password,
                          host = "127.0.0.1",
                          #port = "5432",
                          database = db)
            proot = 'postgresql://{user}:{password}@{host}/{database}'.format(**params)
            #print(proot)
#             logger.info('Connecting to the PostgreSQL database...using sqlalchemy engine')
            engine = create_engine(proot)
            #
        except (Exception, psycopg2.Error) as error :
            logger.error(f"Error while connecting to PostgreSQL {error}")
        self.dbisopen = True
        return engine
    
    def get_overall_grade(self):
        overall_score = %sql select userid, ROUND(SUM(finalgrade)/COUNT(*), 3) AS OverallScore from mdl_grade_grades Where finalgrade is not null Group by userid limit 10;
        return overall_score
    
    def get_number_forum_post(self):
        forum_post = %sql select COUNT(*) AS total_forum_post from mdl_forum_posts limit 10;
        return forum_post
db = DBHandler()
db.open_local_db()

Engine(postgresql://postgres:***@127.0.0.1/moodle)

In [120]:
db.get_overall_grade()

 * postgresql://postgres:***@localhost/moodle
10 rows affected.

[(3, Decimal('100.000')),
 (5, Decimal('57.238')),
 (7, Decimal('100.000')),
 (9, Decimal('70.667')),
 (12, Decimal('100.000')),
 (13, Decimal('100.000')),
 (14, Decimal('100.000')),
 (15, Decimal('100.000')),
 (16, Decimal('43.733')),
 (17, Decimal('100.000'))]

In [121]:
db.get_number_forum_post()

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(131,)]